$primary: #4b3293;
$secondary: #363636;

@import "../node_modules/bulma/bulma.sass";
html, body {
  height: 100%;
}


body {
  background: $secondary url("./varya-lapina-rVO882XRWcA-unsplash.jpg") center;
  margin: 0;
}

@media screen and (max-width: 769px) {
  body {
    background: $secondary url("./varya-lapina-rVO882XRWcA-unsplash-mobile.jpg") center;
  }
}

.has-text-white {
  color: $white;
}

a {
  color: $white;
}

.navbar-menu {
  background: $primary;
  .navbar-item {
    box-sizing: border-box;
  }
}

.nav-button {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  background: $primary;
  cursor: pointer;
  font-size: 1em;
  &:hover {
   color: $secondary;
  }
}

.card {
  background: $primary;
  + .card {
    margin-left: $column-gap;
  }
}

.floating-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-highlighted {
  font-weight: bolder;
  color: #00ffff;
}